<div class="container" *ngIf="show">
  <div id="cssLoading">
    <div class="lds-roller image-24">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
