<div class="container">
  <div class="menu">
    <mat-card>
      <mat-card-subtitle
        [ngStyle]="{
          'justify-content': currentUser ? 'space-between' : 'center'
        }"
      >
        <span class="terminals" *ngIf="currentUser">Terminals</span>
        <span>
          <button mat-stroked-button color="primary" (click)="openAuth()">
            Authentication
          </button>
        </span>
      </mat-card-subtitle>

      <div class="toggle-container" *ngIf="currentUser">
        <mat-slide-toggle
          color="primary"
          (change)="chnageSimulator($event)"
          checked
        >
          Simulator
        </mat-slide-toggle>

        <mat-slide-toggle
          color="primary"
          (change)="changeSandbox($event)"
          [checked]="sandbox"
          [disabled]="simulatorChecked"
        >
          Sandbox
        </mat-slide-toggle>
      </div>

      <div class="readers" *ngIf="discoveredReaders && currentUser">
        <div
          class="reader"
          *ngFor="let reader of discoveredReaders; let i = index"
        >
          <div class="left">
            <div class="image">
              <img src="./assets/images/credit-card-machine.svg" />
            </div>
            <div class="btn-container btn-connect">
              <button
                mat-flat-button
                color="primary"
                (click)="connectToPOS24(reader)"
                *ngIf="!currentReader"
              >
                Connect
              </button>

              <button
                mat-flat-button
                color="warn"
                (click)="disconnectDevice()"
                *ngIf="currentReader && currentReader.id === reader.id"
              >
                Disconnect
              </button>

              <button
                mat-stroked-button
                color="primary"
                (click)="closePos()"
                *ngIf="currentReader && currentReader.id === reader.id"
              >
                POS closure
              </button>
            </div>
            <div class="info">
              <p class="name">{{ reader.label }}</p>
              <p class="type">{{ reader.device_type }}</p>
              <p class="title">Terminal ID:</p>
              <p class="id">{{ reader.id }}</p>
              <p class="title">Localización:</p>
              <p class="id">{{ reader.location }}</p>
              <p class="title">Serial:</p>
              <p class="serial">
                {{ reader.serial_number }}
              </p>
              <p class="title">IP:</p>
              <p class="ip">
                {{ reader.ip_address }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card *ngIf="isConnected">
      <form [formGroup]="paymentForm">
        <mat-card-subtitle>
          Pay <span>{{ timePay }}</span>
          <button
            mat-icon-button
            color="primary"
            type="button"
            [disabled]="!showVoucher"
            (click)="openVoucherDialog()"
          >
            <mat-icon>receipt_long</mat-icon>
          </button>
        </mat-card-subtitle>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea rows="3" matInput formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input type="text" matInput formControlName="amount" />
        </mat-form-field>

        <div class="btn-container">
          <button
            type="button"
            mat-flat-button
            color="primary"
            class="btn"
            [disabled]="paymentForm.invalid"
            (click)="paymentPOS24()"
          >
            Pay
          </button>
        </div>
      </form>
    </mat-card>

    <mat-card *ngIf="isConnected">
      <form [formGroup]="refundForm" #formDirective="ngForm">
        <mat-card-subtitle> Refund </mat-card-subtitle>

        <mat-form-field>
          <mat-label>Payment ID</mat-label>
          <input type="text" matInput formControlName="paymentId" />
        </mat-form-field>

        <div class="btn-container">
          <button
            mat-flat-button
            color="primary"
            class="btn"
            [disabled]="refundForm.invalid"
            (click)="refund()"
          >
            Refund
          </button>
        </div>
      </form>
    </mat-card>
  </div>
  <div class="console">
    <div
      class="accordion"
      *ngFor="let html of htmlCodes; let htmlIndex = index"
    >
      <mat-expansion-panel
        *ngFor="let code of html.data; let codeIndex = index"
        [expanded]="htmlIndex === 0 && codeIndex === 0"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            >{{ code.title }}
            <span *ngIf="code.transactionId"
              >({{ code.transactionId }})</span
            ></mat-panel-title
          >
        </mat-expansion-panel-header>
        <div class="code">
          <pre [innerHtml]="code.code | prettyJson"></pre>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>

<app-loading [show]="showLoading"></app-loading>
