.container {
  display: grid;
  grid-template-columns: 25% 75%;

  .menu,
  .console {
    padding: 20px 10px;

    .toggle-container {
      margin: 25px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
    }

    mat-form-field {
      width: 100%;
    }
  }

  .menu {
    mat-card {
      margin-bottom: 15px;

      .btn-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
          margin: 15px 0 0 15px;
        }
      }

      .btn-connect {
        justify-content: center;
        padding: 10px;
        flex-direction: column;

        button {
          margin-right: 0;
        }
      }

      mat-card-subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-weight: bold;
          color: #242424;
          font-size: 16px;
        }

        .terminals {
          font-weight: normal;
        }
      }
    }
  }

  .readers {
    .reader {
      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;
      padding: 15px 0;

      .left {
        display: grid;
        grid-template-columns: repeat(2, auto);

        .image {
          grid-column: 1/2;
          grid-row: 1/2;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100px;
          }
        }

        .btn-container {
          grid-column: 1/2;
          grid-row: 2/3;
        }

        .title {
          font-size: 13px;
          color: gray;
          font-weight: bold;
        }

        .info {
          grid-column: 2/3;
          grid-row: 1/3;

          p {
            margin: 2px 0;
          }

          .name {
            font-size: 16px;
            font-weight: 600;
          }
          .type {
            font-size: 14px;
          }
          .serial-ip {
            font-size: 12px;

            .serial {
              margin-right: 20px;
            }
          }
        }
      }

      .rigth {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .console {
    .accordion {
      margin-top: 25px;

      &:first-child {
        margin: 0;
      }
    }

    mat-panel-title {
      span {
        margin-left: 10px;
        color: gray;
      }
    }

    .code {
      margin-bottom: 20px;
      border-radius: 10px;
      background: #282828;
      padding: 10px;
      overflow: auto;
      color: white;
    }
  }
}
