.container {
  form {
    mat-form-field {
      width: 100%;
    }

    .btn-container {
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 15px;
      }
    }
  }
}
