<div class="container">
  <h2 mat-dialog-title>Authentication</h2>

  <mat-dialog-content>
    <form [formGroup]="authForm">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Secret Key</mat-label>
        <input type="text" matInput formControlName="secretKey" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>App ID</mat-label>
        <input type="text" matInput formControlName="appId" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Token Authorization</mat-label>
        <input type="text" matInput formControlName="tokenApi" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Location ID</mat-label>
        <input type="text" matInput formControlName="terminalLocation" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>URL</mat-label>
        <input type="text" matInput formControlName="url" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Idioma</mat-label>
        <mat-select formControlName="lang">
          <mat-option [value]="langOptions.EsVe">Español</mat-option>
          <mat-option [value]="langOptions.EnUs">Inglés</mat-option>
          <mat-option [value]="langOptions.PtBr">Portugues</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="btn-container">
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="authForm.invalid"
          (click)="auth()"
        >
          Accept
        </button>
      </div>
    </form>
  </mat-dialog-content>
</div>
